button{	margin-top: 5px;}
legend{	margin-top: 5px;font-size:inherit;}
.pr-lg-2, .px-lg-2 {padding-right: .5rem!important;}
.pl-lg-2, .px-lg-2 {padding-left: .5rem!important;}
h2 {font-size: inherit;}
.table>:not(:first-child) {border-top: inherit;}
td:nth-child(1) {width:310px}

#levels input, #levels label{
    cursor: pointer;
}
#versions input, #versions label{
    cursor: pointer;
}
#categories input, #categories label{
    cursor: pointer;
}